trigger: none

pool: vm-agent

parameters:
  - name: environment
    displayName: Parameters
    type: string
    default: dev
    values:
      - dev
      - prod

variables:
- name: svc
  value: vm01-svc
- name: workdir
  value: $(System.DefaultWorkingDirectory)/infra/${{ parameters.environment }}

stages:
  - stage: preCommit
    displayName: pre-commit
    jobs:
      - job: preCommit
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'

        - task: TerraformTask@5
          displayName: terraform init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(workdir)'
            backendServiceArm: '$(svc)'
            backendAzureRmResourceGroupName: 'rg-pr'
            backendAzureRmStorageAccountName: 'stg502'
            backendAzureRmContainerName: 'container01'
            backendAzureRmKey: '${{ parameters.environment }}.tfstate'

        - task: TerraformTask@5
          displayName: terraform validate
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(workdir)'

        - task: TerraformTask@5
          displayName: terraform plan
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(workdir)'
            environmentServiceNameAzureRM: '$(svc)'
        
        - task: PowerShell@2
          displayName: infracost analysis
          inputs:
            targetType: 'inline'
            script: |
              cd $(workdir)
              terraform plan -out=tfplan
              infracost breakdown --path tfplan

  
  # - stage: securityScan
  #   # dependsOn: preCommit
  #   displayName: Security Scan /linting
  #   jobs:
  #     - job: securityScan
  #       displayName: Run Security Scans
  #       steps:

  #       # ---------- TFSEC -----------------------------------
  #       - task: tfsec@1
  #         displayName: Tfsec-scan
  #         inputs:
  #           version: 'v1.26.0'
  #           dir: '$(workdir)'
  #           publishTestResults: true

  #       #------------TFLint-----------------------------------
  #       - task: PowerShell@2
  #         displayName: Tflint-scan
  #         inputs:
  #           targetType: 'inline'
  #           script: |
  #             tflint --version
  #             tflint --chdir=$(workdir)
  #             tflint /init
  #             tflint /recursive
  #             tflint /format:junit
  #           errorActionPreference: 'continue'

        # ---------- TRIVY ------------------------------------
        # - task: trivy@2
        #   displayName: Trivy-scan
        #   inputs:
        #     version: 'latest'
        #     type: 'filesystem'
        #     target: '$(workdir)'
        #     scanners: 'misconfig,secret'
        #     ignoreUnfixed: true
        #     showSuppressed: true
        #     ignoreScanErrors: true
        #     skipDbUpdate: true
        #     reports: 'junit'
        #     publish: true

        
        # #--------------Checkov---------------------------------
        # - task: PowerShell@2
        #   displayName: Checkov-scan
        #   continueOnError: true
        #   inputs:
        #     targetType: 'inline'
        #     script: |
        #       checkov -v
        #       checkov -d $(workdir) -o junitxml --output-file-path checkovres.xml

        # # ---------------TruffleHog-----Secret-Scan------------------------
        # - task: PowerShell@2
        #   displayName: TruffleHog-Secret-Scan
        #   continueOnError: true
        #   inputs:
        #     targetType: 'inline'
        #     script: 'trufflehog filesystem . --json > results.json'
        

  # - stage: infraCost
  #   displayName: infracost scan
  #   dependsOn: securityScan
  #   jobs:
  #     - job: infraCost
  #       displayName: Infracost
  #       continueOnError: true
  #       steps:
  #       - task: PowerShell@2
  #         displayName: infracost analysis
  #         inputs:
  #           targetType: 'inline'
  #           script: |
  #             cd $(workdir)
  #             terraform plan -out=tfplan
  #             infracost breakdown --path tfplan


  - stage: manualValidation
    displayName: approval and governance
    # dependsOn: securityScan
    jobs:
      - job: manulaValidation
        pool: server
        displayName: manual validation
        steps:
        - task: ManualValidation@1
          inputs:
            notifyUsers: 'getsumantra@gmail.com'

  # - stage: deployStage
  #   displayName: deploy stage
  #   dependsOn: manualValidation
  #   jobs:
  #     - job: deployStage
  #       displayName: apply
  #       steps:
  #       - task: TerraformTask@5
  #         displayName: terraform init
  #         inputs:
  #           provider: 'azurerm'
  #           command: 'init'
  #           workingDirectory: '$(workdir)'
  #           backendServiceArm: '$(svc)'
  #           backendAzureRmResourceGroupName: 'rg-pr'
  #           backendAzureRmStorageAccountName: 'stg502'
  #           backendAzureRmContainerName: 'container01'
  #           backendAzureRmKey: '${{ parameters.environment }}.tfstate'
  #       - task: TerraformTask@5
  #         displayName: terraform apply
  #         inputs:
  #           provider: 'azurerm'
  #           command: 'apply'
  #           workingDirectory: '$(workdir)'
  #           commandOptions: '--auto-approve'
  #           environmentServiceNameAzureRM: '$(svc)'

        
      

            